{% extends "Header.html" %}
{% block content %}
<div class="row">
  <div class="col-10">
    <h2>Edit Item:</h2>
    <form action="{{url_for('EditItem', item_name=Item.name)}}"  enctype='multipart/form-data' method = 'POST'>
    <!-- Item Category -->
      <label for="ItemCategory"> Item Category : </label>
      <select name="ItemCategory">
        {% for c in Allcategories %}
        <option value="{{c.name}}" {%if category.name == c.name %} selected {%endif%}>{{c.name}}</option>
        {% endfor %}
        </select>
    <!-- Item Name -->
        <label for="Name"> Item Name: </label>
        <input type ="text" maxlength="80" name="Name" value="{{Item.name}}">
    <!-- Item Description -->
        <label for="Description"> Item Description: </label>
        <textarea maxlength="600" rows="4" name="Description" value="{{Item.item_info}}"></textarea>
        <br/><br/>
    <!-- Edit Button  -->
        <input type="submit" value="Edit">
    </form>

{% endblock %}
