{% extends "Header.html" %}
{% block content %}
{% include "flash.html" %}
<div class="row countenr">
<div class="col-5">
<h3>Categories</h3>
{% for c in Allcategories %}
  <a href="{{url_for('ShowCategoryItems', category_id = c.id)}}"> {{c.name}}</a>
  <br>
{% endfor %}
</div>
   <div class="col-1 vDivider"></div>
   <div class="col-6">
  <h4>{{categoryItems.name}} Items ({{items|length}} items)</h4>
	{% for i in items %}
  <a href="{{url_for('ShowItemDescription', Category_name = i.category.name, Item_id =i.id)}}">{{i.name}}</a>
	<br/>
{% endfor %}
   </div>
</div>
{% endblock %}
